@model IEnumerable<EmployeeTask.Models.Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "All Employee Info";
}
<div>
    <p>
        <a asp-controller="Employee" asp-action="AddEmployee">Enter new Employee</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmpID)</th>
            <th>@Html.DisplayNameFor(model => model.FName)</th>            
            <th>@Html.DisplayNameFor(model => model.LName)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var empl in Model)
        {
            <tr>
                <td>@empl.EmpID</td>
                <td>@empl.FName</td>
                <td>@empl.LName</td>
                <td>@empl.Gender</td>
            </tr>
        }
    </tbody>
</table>